<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Oswald|Pacifico" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/foundation.css" />
    <link rel='stylesheet' href='/stylesheets/main.css' />
  </head>
  <body>
    <header>
      <nav>
        <a href="/">
          <h1>Brazilian Music</h1>
        </a>
      </nav>
    </header>    
    <main>
      {{{body}}}
    </main>

    <script src="/javascripts/vendor/foundation.js"></script>

  </body>
</html>
